body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes mymove {
  from {left: 0px;}
  to {left: 300px;}
}





#div1 {animation-timing-function: ease;}
     img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}
    .text {
        text-align: center;
        width: 100%;
      }
      .text2 {
        text-align: left;
        width: 100%;
      }
      .text3 {
        text-align: right;
        width: 100%;
      }
